@page "/"
@using SaemWeb.Components.Layout.Header;
@using SaemWeb.Components.Section.List;
@using SaemWeb.Models;
@using SaemWeb.Components.UI;
@inject AlunoDAO alunoDAO;
@inject ProfessorDAO professorDAO;
@inject InstrumentoDAO instrumentoDAO;
@inject CursoDAO cursoDAO;
@inject TurmaDAO turmaDAO;

<PageTitle>Home - SAEM</PageTitle>

<Header>
  <Title>
    Início
  </Title>
</Header>

<article class="flex flex-wrap justify-center gap-14">
  <Counts Data="@alunos.Count" Title="Total de alunos cadastrados" />
  <Counts Data="@professores.Count" Title="Total de professores  cadastrados" />
  <Counts Data="@instrumentos.Count" Title="Total de instrumentos cadastrados" />
  <Counts Data="@cursos.Count" Title="Total de cursos cadastrados" />
  <Counts Data="@turmas.Count" Title="Total de turmas cadastradas" />
</article>

@code {
  private List<SaemWeb.Models.Aluno> alunos = new();
  private List<SaemWeb.Models.Professor> professores = new();
  private List<SaemWeb.Models.Instrumento> instrumentos = new();
  private List<SaemWeb.Models.Curso> cursos = new();
  private List<SaemWeb.Models.Turma> turmas = new();

  protected override void OnInitialized()
  {
    alunos = alunoDAO.Listar();
    professores = professorDAO.Listar();
    instrumentos = instrumentoDAO.Listar();
    cursos = cursoDAO.Listar();
    turmas = turmaDAO.Listar();
  }

  void Nothing() { }
}